{% extends 'participant/base.html' %}

{% block content %}

    <form>
        <input type="hidden" id="participant_id" name="participant_id" value="{{ page_data.participant_id }}">
    </form>
    <header>
        <h2 class="mb-4">My moments</h2>
    </header>

    <div id="moments">

    </div>

    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-bottom mx-auto">
        <a href="/p/capture" class="btn btn-success btn-block btn-lg" role="button">Capture Moment</a>
    </nav>


{% endblock %}
