<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Moment - Bunnyfoot CTX</title>
    <script>
        function getGPSLocation() {
            // Source: https://www.w3schools.com/htmL/tryit.asp?filename=tryhtml5_geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setGPSPositionInForm);
            } else {
                console.print("Geolocation is not supported by this browser.");
            }
        }
        function setGPSPositionInForm(position){
            document.getElementById("gps_long_hidden_field").value=position.coords.longitude;
            document.getElementById("gps_lat_hidden_field").value=position.coords.latitude;
        }

    </script>
</head>
<body onload="getGPSLocation()">
<div id="container">
    <header>
        <nav>
            <ul>
                <li>My data</li>
                <li>Logout</li>
            </ul>
        </nav>
        <div id="status_bar">
            <ul>
                <li>Project: BFxxxx</li>
                <li>Participant ID: XX</li>
                <li>Moments captured: XX</li>
                <li><span id="demo"></span></li>
            </ul>
        </div>
        <h1>Capture new moment</h1>
    </header>
    <content>
        <form action="/p/submit_moment" method="post">
            <input type="hidden" name="device_session_id" value="secure_key"/>
            <input id="gps_long_hidden_field" type="hidden" name="gps_long" value="None"/>
            <input id="gps_lat_hidden_field" type="hidden" name="gps_lat" value="None"/>
            <div id="moment_ratings">
                <h2>Moment rating</h2>
                <input type="radio" name="rating" value="1" required/><span class="momentRatingLabel"
                                                                            id="rating1">1</span>
                <input type="radio" name="rating" value="2"/><span class="momentRatingLabel" id="rating2">2</span>
                <input type="radio" name="rating" value="3"/><span class="momentRatingLabel" id="rating3">3</span>
                <input type="radio" name="rating" value="4"/><span class="momentRatingLabel" id="rating4">4</span>
                <input type="radio" name="rating" value="5"/><span class="momentRatingLabel" id="rating5">5</span>
            </div>
            <div id="moment_text">
                <p class="moment_form_instruction">Please provide a short explanation for your rating.</p>
                <textarea name="comment" cols="40" rows="4"
                          placeholder="What prompted you to capture this moment?"></textarea>
            </div>
            <div id="moment_evidence">
                <p class="moment_form_instruction">You can add an optional photo or video from your camera as extra
                    evidence to go with this moment.</p>
                <input type="file" name="moment_media"
                       accept="image/jpeg, image/png, video/mp4, video/M4V, video/quicktime"/>

            </div>
            <input type="submit" value="Save Moment"/>

        </form>
    </content>


</div>
</body>

</html>