{% extends 'participant/base.html' %}

{% block content %}

    <div class="card mb-4" id="moment_x">

        <div class="card-header small">
            <span class="float-left">12/5/2018 09:48</span>
            <span class="float-right text-muted" style="font-family:sans-serif">&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;</span>
        </div>

        <div class="card-body">
            <p class="card-text">Thoughts about the moment</p>
            <img class="card-img-bottom" src="/static/images/moment_media_placeholder.png" alt="Moment image"
                 style="width:100%">
            <span class="small text-muted">&#x1F4CD; Location captured</span>
        </div>

        <div class="card-footer">

            <button data-toggle="collapse" data-target="#moment_x_comments">Comments (2)</button>

            <div id="moment_x_comments" class="collapse">

                <div class="card mb-2" id="moment_x_comment_y">
                    <div class="card-body">
                        <div class="card-title small">
                            <span class="font-weight-bold">AdamD</span><br />09:14 13/07/2018
                        </div>

                        <p class="card-text">What did you do after this?</p>
                    </div>
                </div>

                <div class="card mb-2" id="moment_x_comment_z">
                    <div class="card-body">
                        <div class="card-title small">
                            <span class="font-weight-bold">You</span><br />09:16 13/07/2018
                        </div>

                        <p class="card-text">Honestly?? I cried!!!?</p>
                    </div>
                </div>

                <button class="btn btn-info btn-sm btn-block text-light"
                        onclick="(function(){document.getElementById('moment_x_comments').style='display:block;';})();">
                    Add comment
                </button>
            </div>

        </div>
    </div>

     <div class="card" id="moment_x">

        <div class="card-header small">
            <span class="float-left">12/5/2018 09:48</span>
            <span class="float-right text-muted" style="font-family:sans-serif">&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;</span>
        </div>

        <div class="card-body">
            <p class="card-text">Thoughts about the moment</p>
            <img class="card-img-bottom" src="/static/images/moment_media_placeholder.png" alt="Moment image"
                 style="width:100%">
            <span class="small text-muted">&#x1F4CD; Location captured</span>
        </div>

        <div class="card-footer">

            <button data-toggle="collapse" data-target="#moment_y_comments">Comments (2)</button>

            <div id="moment_y_comments" class="collapse">

                <div class="card mb-2" id="moment_x_comment_y">
                    <div class="card-body">
                        <div class="card-title small">
                            <span class="font-weight-bold">AdamD</span><br />09:14 13/07/2018
                        </div>

                        <p class="card-text">What did you do after this?</p>
                    </div>
                </div>

                <div class="card mb-2" id="moment_x_comment_z">
                    <div class="card-body">
                        <div class="card-title small">
                            <span class="font-weight-bold">You</span><br />09:16 13/07/2018
                        </div>

                        <p class="card-text">Honestly?? I cried!!!?</p>
                    </div>
                </div>

                <button class="btn btn-info btn-sm btn-block text-light"
                        onclick="(function(){document.getElementById('moment_x_comments').style='display:block;';})();">
                    Add comment
                </button>
            </div>

        </div>
    </div>




    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-bottom mx-auto">
        <a href="/p/capture_moment" class="btn btn-success btn-block btn-lg" role="button">Capture Moment</a>
    </nav>


{% endblock %}
