{% extends 'dashboard/base.html' %}

{% block breadcrumb_links %}
    <li class="breadcrumb-item active">Welcome</li>
{% endblock %}

{% block page_content %}
    <div class="col">

    <h1>Welcome {{ consultant.first_name }}!</h1>
    <p>One day soon you will see lots of useful things here within your personalised projects dashboard page.</p>
    <p>However, for now you can access your project pages via the navigation on the left-hand side. Give it a go!</p>
    <p>If you have any ideas for what would be useful on this page, please email your suggestions to <a
            href="mailto:jon@bunnyfoot.com?subject=CXT%20Dashboard%20suggestions">Jon</a>.</p>
    <p>Oh yeah, the search at the top is currently disabled - we'll get to that one day too.</p>
    </div>
{% endblock %}