<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moments feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script>


        function add_notification(moment = null, comment = null) {

            if (comment) {

                // Add item to notifications drop-down and set to light up
                $('#moment_noficiation', window.parent.document).prepend('<a id="comment_' + comment.id + '_notification_link" class="dropdown-item" href="javascript:scroll_to_item(' + comment.parent_moment + ',' + comment.id + ');">' + comment.display_name + ' commented on a moment</a>');
                // Remove item from notifications menu when clicked
                $('#comment_' + comment.id + '_notification_link', window.parent.document).click(function () {
                    $(this).remove();
                    $('#moment_notification_counter', window.parent.document).text(parseInt($('#moment_notification_counter', window.parent.document).text()) - 1);
                    if (parseInt($('#moment_notification_counter', window.parent.document).text()) == 0) {
                        $('#moment_notification_dropdown', window.parent.document).addClass('d-none');
                    }
                });
            }
            else {
                // do the same as for comments but for a moment
                $('#moment_noficiation', window.parent.document).prepend('<a id="moment_' + moment.id + '_notification_link" class="dropdown-item" href="javascript:scroll_to_item(' + moment.id + ',null);">' + moment.participant_display_name + ' added a moment</a>');
                // Remove item from notifications menu when clicked
                $('#moment_' + moment.id + '_notification_link', window.parent.document).click(function () {
                    $(this).remove();
                    $('#moment_notification_counter', window.parent.document).text(parseInt($('#moment_notification_counter', window.parent.document).text()) - 1);
                    if (parseInt($('#moment_notification_counter', window.parent.document).text()) == 0) {
                        $('#moment_notification_dropdown', window.parent.document).addClass('d-none');
                    }
                });

            }
            // Increase the counter in the notification button
            $('#moment_notification_counter', window.parent.document).text(parseInt($('#moment_notification_counter', window.parent.document).text()) + 1);
            $('#moment_notification_dropdown', window.parent.document).removeClass('d-none');
        }

        function generate_project_moments(project_id, since_moment_id, order, show_notification = false) {

            if (!since_moment_id) {
                since_moment_id = sessionStorage.highest_moment_id;
            }

            //console.log('running generate_project_moments. since_moment_id value is ' + since_moment_id);

            $.get('/api/projects/' + project_id + '/moments', {since_moment_id: since_moment_id, order: order},
                function (data, status, xhr) {
                    var moments = data;
                    for (i = 0; i < moments.length; i++) {
                        var m = moments[i];
                        $('#moments').prepend(render_moment_html(m));
                        sessionStorage.highest_moment_id = m.id;
                        $('#moment_' + m.id + '_new_comment').keydown(function (e) {
                            if ((e.metaKey || e.ctrlKey) && e.which == 13) {
                                $(this).siblings('button').trigger('click');
                            }
                        });
                        // Increase the count of moments in the parent window
                        $('#moment_counter_badge', window.parent.document).text(parseInt($('#moment_counter_badge', window.parent.document).text()) + 1);
                        if (show_notification) {
                            add_notification(m, null);
                        }
                    }

                    // This should run whether there are any new moments to display or not..
                    generate_project_comments({{ project_id }}, sessionStorage.highest_comment_id, 'asc', show_notification);
                }, 'json');
        }

        function generate_project_comments(project_id, since_comment_id, order, show_notification = false) {
            $.get('/api/projects/' + project_id + '/moments/comments/', {
                    since_comment_id: since_comment_id,
                    order: order
                },
                function (data, status, xhr) {
                    var comments = data;
                    for (i = 0; i < comments.length; i++) {
                        var c = comments[i];

                        $('#moment_' + c.parent_moment + '_comments_form').before(render_comment_html(c));
                        // Increase counter value for parent moment
                        $('#moment_' + c.parent_moment + '_comments_count_label').text(parseInt($('#moment_' + c.parent_moment + '_comments_count_label').text()) + 1);
                        sessionStorage.highest_comment_id = c.id;
                        // If we need to show a notification...
                        if (show_notification) {
                            // Make comment button light up
                            $('#moment_' + c.parent_moment + '_show_comments_button').removeClass('btn-secondary');
                            $('#moment_' + c.parent_moment + '_show_comments_button').addClass('btn-info');
                            $('#moment_' + c.parent_moment + '_show_comments_button').click(function () {
                                // Reset appearance of button once clicked
                                $(this).removeClass('btn-info');
                                $(this).addClass('btn-secondary');
                            })

                            add_notification(null, c);
                        }
                    }
                }, 'json');

        }

        function set_moment_mark_for_download_state(project_id, m_id) {

            if ($('#moment_' + m_id + '_mark_for_download').prop("checked")) {
                var mark_for_download = true;
            }
            else {
                var mark_for_download = false;
            }

            $.post('/api/projects/' + project_id + '/moments/' + m_id + '/mark_download', {mark_download: mark_for_download});
        }

        function render_moment_html(m) {

            var port = "";

            if (window.location.port != 80 && window.location.port != 443 && window.location.port != ""){
                port = ":" + window.location.port;
            }

            var https_image_url_base = window.location.protocol + "//" + window.location.hostname + port;

            var moment_html = '<div class="moment_card card mb-4 participant_' + m.parent_participant_id + '" id="moment_' + m.id + '">';

            // MOMENT CARD HEADER

            var modified_date = new Date(m.modified_ts + "Z");

            moment_html += '<div class="card-header"> <span class="font-weight-bold mr-2">' + m.participant_display_name + '</span>'

                +
                '<span class="ml-2" style="font-family:sans-serif; color:gold;">';

            // Generate ratings stars: Filled in stars
            for (var r = 0; r < m.rating; r++) {
                moment_html += '&#x2605;';
            }
            // Generate ratings stars: empty in stars
            for (var r = 0; r < (5 - m.rating); r++) {
                moment_html += '&#x2606;';
            }

            moment_html += '</span>';
            moment_html += '<button id="delete_moment_' + m.id + '_button" class="btn btn-sm float-right align-middle btn-outline-danger" onclick="delete_moment({{ project_id }},' + m.id + ')">Delete</button>';


            moment_html += '<br><span class="text-muted small">' + modified_date.toLocaleDateString() + ' ' + String(modified_date.getHours()).padStart(2, "0") + ':' + String(modified_date.getMinutes()).padStart(2, "0") + '</span>' +
                '</div>';

            ////// MOMENT CARD BODY
            moment_html += '<div class="card-body">' +
                '<span class="card-text">' + m.text + '</span>';

            //TODO: Replace with dynamically loaded moment media for each one found in m.media
            for (var media_num = 0; media_num < m.media.length; media_num++) {

                // if image...

                if (m.media[media_num].media_type == 'image') {
                    moment_html += '<a href="/api/participants/' + m.parent_participant_id + '/moments/' + m.id + '/media/' + m.media[media_num].id + '/original" aria-label="original thumbnail" target="_blank"><img class="card-img-bottom my-2 img-thumbnail" src="' + https_image_url_base + '/api/participants/' + m.parent_participant_id + '/moments/' + m.id + '/media/' + m.media[media_num].id + '/large/" alt="Moment image" style="width:100%"></a>';

                }
                //if video...
                else if (m.media[media_num].media_type == 'video') {
                    moment_html += '<video class="my-2" width="100%" controls <!--preload="none"-->><source src="/api/participants/' + m.parent_participant_id + '/moments/' + m.id + '/media/' + m.media[media_num].id + '/video/video.mp4" type="video/mp4"></video>';
                }


            }
            moment_html += '<div id="moment_' + m.id + '_metadata_area">';

            if (m.gps.lat != null) {
                moment_html += '<div id="moment_' + m.id + '_location" class="d-inline-block"><a href="https://www.google.com/maps/search/?api=1&query=' + m.gps.lat + ',' + m.gps.long + '" class="text-muted" target="_blank">&#x1F4CD; Location captured</a></div>';
            }

            if (m.media.length > 0) {

                moment_html += '<div id="moment_' + m.id + '_download_tick" class="float-right">';
                moment_html += '<div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="moment_' + m.id + '_mark_for_download" name="moment_' + m.id + '_mark_for_download"';
                if (m.mark_for_download) {
                    moment_html += ' checked ';
                }
                moment_html += ' onclick="set_moment_mark_for_download_state({{ project_id }}, ' + m.id + ')"><label class="custom-control-label text-muted" for="moment_' + m.id + '_mark_for_download">Include in project download</label></div>';

                moment_html += '</div>'; // close download tick div

            }
            moment_html += '</div>'; // Close metadata area div
            moment_html += '</div>';

            ////// MOMENT CARD FOOTER
            // generate moment card footer as placeholder for comments

            moment_html += '<div class="card-footer small">' +
                '<span id = "moment_' + m.id + '_new_comment_indicator" class="text-info d-none">&#9679;</span>' +
                '<button id="moment_' + m.id + '_show_comments_button" data-toggle="collapse" data-target="#moment_' + m.id + '_comments" class="btn btn-secondary btn-sm">' +
                'Comments <span id="moment_' + m.id + '_comments_count_label" class="badge badge-light">0</span></button>' +

                '<div id="moment_' + m.id + '_comments" class="mt-2 collapse">' +
                // Add comments form
                '<div id="moment_' + m.id + '_comments_form" class="form-inline my-2">' +
                '<textarea id="moment_' + m.id + '_new_comment" class="form-control col mr-2" rows="1" name="comment_text" placeholder="Add a new comment..."></textarea><button id="moment_' + m.id + '_save_comment_button" class="btn btn-info btn-sm text-light" onclick="add_comment_to_moment({{ project_id }},' + m.id + ');">Add</button>\n' +
                '</div></div></div>';


            moment_html += '</div>';

            return moment_html;
        }

        function render_comment_html(c) {
            var comment_ts = new Date(c.ts + "Z");

            var comment_html = '<div class="card mb-2" id="moment_' + c.parent_moment + '_comment_' + c.id + '">';
            comment_html += '<div class="card-body"><div class="card-title">' +
                '<div class="float-right"><button class="btn btn-outline-danger btn-sm" onclick="delete_comment({{ project_id }},' + c.parent_moment + ',' + c.id + ');"><i class="far fa-trash-alt"></i></button></div>';
            comment_html += '<span class="font-weight-bold mr-2">' + c.display_name + '</span><span class="text-muted">' + comment_ts.toLocaleDateString() + ' ' + String(comment_ts.getHours()).padStart(2, "0") + ':' + String(comment_ts.getMinutes()).padStart(2, "0") + '</span>';
            comment_html += '</div>';
            comment_html += '<p class="card-text">' + c.text + '</p>\n';
            comment_html += '</div>';
            comment_html += '</div>';

            {#var comment_html = '<div class=row>' +#}
            {#    '<div class="col-2">' +#}
            {#    '<span class="font-weight-bold">' + c.display_name + '</span><br/>' + comment_ts.toLocaleDateString() + '<br/>' + String(comment_ts.getHours()).padStart(2, "0") + ':' + String(comment_ts.getMinutes()).padStart(2, "0") +#}
            {#    '</div>' +#}
            {#    '<div class="col">' +#}
            {#    '<p class="card-text">' + c.text + '</p>' +#}
            {#    '</div>' +#}
            {#    '</div>';#}

            return comment_html;

        }

        function add_comment_to_moment(project_id, moment_id) {

            var comment_text = $('#moment_' + moment_id + '_new_comment').val()

            if (comment_text.length > 0) {

                $.post(
                    '/api/projects/' + project_id + '/moments/' + moment_id + '/comments/',
                    {comment_text: comment_text},
                    function (data) {
                        generate_project_comments(project_id, sessionStorage.highest_comment_id, 'asc');
                        $('#moment_' + moment_id + '_new_comment').val('');
                    }
                )

            }
        }

        function delete_comment(project_id, moment_id, comment_id) {

            if (confirm("Are you sure you want to delete this comment? This cannot be undone.")) {
                $.ajax({
                    url: '/api/projects/' + project_id + '/moments/' + moment_id + '/comments/' + comment_id,
                    method: 'delete',
                    success: function (result, status, xhr) {

                        $('#moment_' + moment_id + '_comment_' + comment_id).slideUp('fast', function () {
                            $(this).remove();
                        });
                        // Reduce comment count for moment
                        $('#moment_' + moment_id + '_comments_count_label').text(parseInt($('#moment_' + moment_id + '_comments_count_label').text()) - 1);
                    }
                })
            }
        }

        function delete_moment(project_id, moment_id) {
            if (confirm("Are you sure you want to delete this moment? This cannot be undone.")) {
                $.ajax({
                    url: '/api/projects/' + project_id + '/moments/' + moment_id,
                    method: 'delete',
                    success: function (result, status, xhr) {
                        $('#moment_' + moment_id).slideUp('slow', function () {
                            $(this).remove();
                            $('#moment_counter_badge', window.parent.document).text(parseInt($('#moment_counter_badge', window.parent.document).text()) - 1);
                        });

                    }
                });
            }
        }

        $(function () {
                sessionStorage.highest_moment_id = 0;
                sessionStorage.highest_comment_id = 0;
                generate_project_moments({{ project_id }}, null, 'asc');
                // set up 10s callback to get new moments and comments and show notifications (true at end)
                window.setInterval(generate_project_moments, 10 * 1000, {{ project_id }}, null, 'asc', true)
            }
        );


    </script>

</head>
<body>
{% if project_id %}<input type="hidden" name="project_id" value="{{ project_id }}"/>{% endif %}

<div id="moments">

    <!-- Moments will be shown here -->

</div>

</body>
</html>